<script>
  System.import("/Scripts/App/Components/TweetsList.js");
</script>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_LoginPartial")
<main>
    <aside id="user-panel-container">

        @Html.Partial("_UserInfo")

        @Html.Partial("~/Views/Shared/_Trends.cshtml")
    </aside>

    <div id="main-content-container" class="panel">
        <div class="well new-tweet-window">
            <form class="form-horizontal" role="form">
                <div class="form-group" style="padding:14px;">
                    <img src="~/Content/Users/User1.png" class="user-image img-from-new-tweet-window" alt="user picture" />
                    <input class="form-control input-from-new-tweet-window" placeholder="What's happening?">
                </div>
                <button class="btn btn-success pull-right" type="button">Post</button>
                <span class="pull-right number-from-new-tweet-window">140</span>
                <ul class="list-inline new-tweet-list">
                    <li><a href="#"><i class="glyphicon glyphicon-facetime-video"></i>  Media</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-map-marker"></i>  Location</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-adjust"></i> Poll</a></li>
                </ul>
            </form>
        </div>

       <tweets-list>Loading Users Tweets..</tweets-list>

    </div>

</main>
